//====================================================================================================
.header {
  z-index: 9999;
  position: fixed;
  width: 100%;
  top: 30px;
  transition: all 0.3s ease 0s;
		// .header__content
		&__content {
      margin: 0;
      padding: 0 60px;
      min-width: 100%;
		}
		// .header__logo
		&__logo {
      z-index: 1;
      display: block;
      height: 42px;
      width: 200px;
      background: url(../img/icons/logo.svg) no-repeat 50% 50% / contain;
      &_black {
        background: url(../img/icons/logo-black.svg) no-repeat 50% 50% / contain;
      }
		}
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
		// .menu__icon
		&__icon {
      // font-size: 22px;
		}
		// .menu__body
		&__body {
      position: fixed;
      top: 0px;
      left: 100%;
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      transition: .8s cubic-bezier(.19,1,.22,1);
      background-color: $additionalColor;
      text-align: right;
      &._active {
        left: 50%;
        @media (max-width: $md3+px) {
          left: 0%;
        }
      }
      @media (max-width: $md3+px) {
        width: 100%;
        align-items: center;
        text-align: center;
      }
		}
		// .menu__list
		&__list {
      display: flex;
      flex-direction: column;
      margin-right: 76px;
      @media (max-width: $md3+px) {
        margin-right: 0;
      }
		}
		// .menu__lang
		&__lang {
      position: absolute;
      bottom: 50px;
      right: 76px;
      @include adaptiv-value("padding", 10, 6, 1);
      @include adaptiv-font(20, 12.5, 1);
      color: $mainColor;
      border: 1px solid $mainColor;
      transition: all 0.3s ease 0s;
      border-radius: 2.5px;
      overflow: hidden;
      &::before {
        z-index: -1;
        content: '';
        position: absolute;
        top: 0px;
        left: 100%;
        width: 100%;
        height: 100%;
        background-color: $mainColor;
        border-radius: 2.5px;
        transition: all 0.3s ease 0s;
      }
      &:focus, &:hover {
        color: $hoverColor;
        border: 1px solid $hoverColor;
        &::before {
          left: 0;
        }
      }
      @media (max-width: $md3+px) {
        text-align: center;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
      }
		}
}

.main-menu {
  @include adaptiv-value("margin-bottom", 80, 40, 1);
		// .main-menu__item
		&__item {
      &:not(:last-child) {
        @include adaptiv-value("margin-bottom", 50, 25, 1);
      };
		}
		// .main-menu__link
		&__link {
      position: relative;
      @include adaptiv-font(55, 36, 1);
      color: $mainColor;
      transition: color 0.5s ease 0s, padding-right 0.5s ease 0s;
      &:focus, &:hover {
        color: $hoverColor;
        padding-right: 30px;
        &::after {
          left: -50%;
        }
      }
      &::after {
        z-index: -1;
        content: '';
        position: absolute;
        top: -10%;
        left: 250%;
        width: 250%;
        height: 120%;
        background-color: $mainColor;
        transition: all 0.5s ease 0s;
        border-radius: 2.5px;
      }
		}
}

.bot-menu {
		// .bot-menu__item
		&__item {
      &:not(:last-child) {
        @include adaptiv-value("margin-bottom", 40, 20, 1);
      };
		}
		// .bot-menu__link
		&__link {
      position: relative;
      @include adaptiv-font(30, 20, 1);
      color: $mainColor;
      transition: color 0.5s ease 0s;
      &:focus, &:hover {
        color: $hoverColor;
        &::after {
          left: -50%;
        }
      }
      &::after {
        z-index: -1;
        content: '';
        position: absolute;
        top: -10%;
        left: 250%;
        width: 250%;
        height: 120%;
        background-color: $mainColor;
        transition: all 0.5s ease 0s;
        border-radius: 2.5px;
      }
		}
}

//====================================================================================================
.icon-menu {
  padding: 16px;
  @media (max-width: $md2+px) {
    padding: 10px;
  }
  & > span {
    display: block;
    position: relative;
    width: 35px;
    height: 22px;
    cursor: pointer;
    z-index: 5;
    @media (max-width: $md2+px) {
      width: 28px;
      height: 18px;
    }
    & span {
      transition: all 0.3s ease 0s;
      left: 0px;
      position: absolute;
      width: 100%;
      height: 5px;
      background-color: $additionalColor;
      @media (max-width: $md2+px) {
        height: 4px;
      }
      &:first-child {
        top: 0px;
      }
      &:last-child {
        top: auto;
        bottom: 0px;
      }
    }
  }
  &_black {
    & > span {
      & span {
        background-color: $mainColor;
      }
    }
  }
  &._active {
    & > span {
      & span {
        background-color: $mainColor;
        &:first-child {
          top: calc(50% - 5px);
          @media (max-width: $md2+px) {
            top: calc(50% - 4px);
          }
        }
        &:last-child {
          bottom: calc(50% - 5px);
          @media (max-width: $md2+px) {
            bottom: calc(50% - 4px);
          }
        }
      }
    }
  }
}
