@font-face {
	font-family: "icons";
	font-display: swap;
	src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"],
[class*=" _icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}

._icon-1:before {
  content: "\e904";
}
._icon-2:before {
  content: "\e905";
}
._icon-3:before {
  content: "\e906";
}
._icon-4:before {
  content: "\e907";
}
._icon-5:before {
  content: "\e908";
}
._icon-6:before {
  content: "\e909";
}
._icon-7:before {
  content: "\e90a";
}
._icon-8:before {
  content: "\e90b";
}
._icon-9:before {
  content: "\e90c";
}
._icon-10:before {
  content: "\e90d";
}
._icon-11:before {
  content: "\e90e";
}
._icon-12:before {
  content: "\e90f";
}
._icon-13:before {
  content: "\e910";
}
._icon-14:before {
  content: "\e911";
}
._icon-15:before {
  content: "\e912";
}
._icon-arrow:before {
  content: "\e903";
}
._icon-minus:before {
  content: "\e901";
}
._icon-plus:before {
  content: "\e902";
}
._icon-more:before {
  content: "\e900";
}


